body {
  font-family: Arial;
  background: #c3ec77;
  padding: 300px;
}
h1 {
  text-align: center;
}
.viewer {
  margin-top: 100px;
  height: 100vh;
  border: 40px solid #92b9e6;
  border-radius: 100px;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}


